body {
    width : 50%;
    height : 100%;
    display : flex;
    flex-direction : column;
    background-image : url("download.jfif");
    background-repeat : no-repeat;
    background-position : center;
    background-size : cover;
}
#input {
    box-sizing : border-box;
    margin : 0px;
    padding : 0px;
    height : 30px;
    width : 300px;
}
#submit {
        margin : 0px;
    padding : 0px;
    height : 30px;
    width : 300px;
}
