body {
    display : flex;
    justify-content : center;
    align-items : center;
    min-height : 100vh;
}
.container {
    width : 400px;
    height : 400px;
    display : flex;
    justify-content : center;
    align-items : center;
    background : url("download.jpeg");
    background-repeat : no-repeat;
    background-size : cover;
    background-position : center;
}
.container ul {
    width : 300px;
    height : 300px;
    list-style : none;
    background : red;
    display : flex;
    flex-direction : column;
    gap : 1000px;
}
.container ul li span{
    display : flex;
    flex-direction : column;
    gap : 20px;
}